<% include partials/header %>
<% include partials/sidebar %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <% include content %>
</div>
<% include partials/footer %>