<% include partials/header.ejs %>
<% include partials/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <% include content.ejs %>
</div>
<% include partials/footer.ejs %>