<% include partials/iframe_header %>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="margin-bottom:auto">
                <div class="box-header with-border">
                    <b>工具栏： </b>
                    <caption>
                        <button type="button" class="btn btn-default" id="operation_log_refresh"><i
                                    class="fa fa-refresh icon-white"></i> 刷新
                        </button>
                        <button type="button" class="btn btn-danger" id="operation_log_batch_remove"><i
                                    class="fa fa-remove icon-white"></i> 删除
                        </button>
                    </caption>
                    <!--<h3 class="box-title">用户列表</h3>-->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="loginLogs" class="table datatable table-bordered table-hover">
                        <thead>
                        <tr>
                            <th><input value="all" type="checkbox"
                                       onclick="$('.datatable tbody :checkbox').prop('checked', this.checked);"/>
                            </th>
                            <th>登录名</th>
                            <th>用户名</th>
                            <th>操作内容</th>
                            <th>操作时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<% include partials/iframe_footer %>
<script src="/service/operation_log_manage.js"></script>
