body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#verify {
    float: left;
    margin-right: 15px;
    width: 70%;
}

#yzm {
    cursor: pointer;
}

.login-box-msg {
    color: red;
}

.login-page {
    background: url("/images/bg.jpg");
}

.login-logo a{
    color: #fff;
}
